*{
    margin: 0;
    box-sizing: border-box;

}


.wrapper{
    background-color: grey;
    
}
.title-app{
    background-color: rgb(177, 177, 73);
}
.title-app h1{
    color: white;
    margin-left: 40px;
}
.content-add{
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    background-color: white;       
    margin: 10px auto;
    height: 100px;    
    padding: 5px ;
}
#input-text{    
    width: 100%;
    border: none;
   outline: none;
    height: 50px;
    
}
.plus{
    position: absolute;
   top: 135px;
    margin-left: 23%;
    

}
.plus button{
    background-color: rgb(177, 177, 73);
    border-radius: 40%;
}
.section{
    padding: 10px;
}
.display{
    border: 1px solid black;
    position: relative;
    height: 100px;
    width: 300px;
    padding: 10px 3px;
    background-color: white;
    border-radius: 5px;
}
.display button{
    position: absolute;
    bottom: 0;
   margin-left: 90%;
   border-radius: 5px;
   background-color: brown;
}
#warper-list-note{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}